html,
body {
  padding: 0;
  margin: 0;
  font-size: 1rem;
}
.grid-container {
  display: grid;
  border: 4px solid black;
  grid-template-rows: 100px 100px 100px 100px 100px 100px;
  grid-template-columns: 100px 100px 100px 100px 100px 100px;
}

.item-1 {
  grid-row: 1/3;
  grid-column: 1/5;
  border: 3px solid red;
}
.item-2 {
  border: 3px solid green;
  grid-row: span 2;
  grid-column: span 2;
}
.item-3 {
  grid-area: 3 /1 /7 /7;
  border: 3px solid yellow;
}
.item-4 {
  border: 3px solid black;
}
